---

---

<div class="aspect-video w-full rounded">
  <video controls autoplay class="w-full aspect-video rounded">
    <source
      src="https://skeptrune.b-cdn.net/no-abort-controller-1753931451524.mp4"
      type="video/mp4"
    />
  </video>
</div>
