---
import SimpleLayout from "@layouts/Simple.astro";
import Headshot from "../assets/images/site-content/profile-photo-cropped.png";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blogPosts");
const featuredPosts = allPosts
  .filter((e) => !e.data.isDraft && e.data.isFeatured)
  .toSorted(
    (a, b) =>
      (b.data.createdAt?.getTime() ?? 0) - (a.data.createdAt?.getTime() ?? 0)
  )
  .slice(0, 3);
---

<SimpleLayout
  title="Nick Khami's Blog | About"
  type="article"
  imageUrl={Headshot.src}
  description="About Nick Khami, a software engineer and entrepreneur, founder of Trieve, and previous work at NelNet Payment Services, zeroDAO, Breezy, and Quai."
  publishedTime="2025-04-21T00:00:00Z"
  modifiedTime="2025-04-21T00:00:00Z"
  author="Nick Khami"
  primaryCategory="About"
>
  <article>
    <h1>Nick Khami's Blog</h1>
    <p>
      <Image src={Headshot} alt="Headshot of Nick Khami" class="rounded w-42" />
    </p>

    <p>
      Hey, I'm Nick! I am software engineer and entrepreneur. Previously, I
      worked at <a
        href="https://nelnetinc.com/businesses/nelnet-payment-services/"
        target="_blank">NelNet Payment Services</a
      > and a few startups including <a
        href="https://x.com/zerodaohq?lang=en"
        target="_blank">zeroDAO</a
      >,
      <a href="https://getbreezyapp.com/" target="_blank">Breezy</a>, and <a
        href="https://qu.ai/"
        target="_blank">Quai</a
      >. Currently, I'm building the word's best search API as the founder and
      CEO of
      <a href="https://trieve.ai/" target="_blank">Trieve</a>.
    </p>

    <p>
      I received my B.S. in Computer Science from the University of Texas at
      Austin in 2022. My concentration was in machine learning and I did <a
        href="https://arxiv.org/abs/2108.11283#"
        target="_blank">undergraduate research on GAN's.</a
      > I have also been lucky enough to receive a bit of an entrepreneurial education
      through both <a href="https://www.ycombinator.com/" target="_blank"
        >Y-Combinator's</a
      > and <a href="https://www.ycombinator.com/">FUTO</a>
      's amazing programs.
    </p>

    <p>
      My favorite hobbies are reading (TODO: backfill a goodreads profile) and
      riding motorcycles. Right to repair and open source are important to me.
      My goal is to try my hand at blogging over the next few months.
    </p>

    <h2>Featured Posts</h2>
    <ul class="list-disc pl-6 space-y-2">
      {
        featuredPosts.map((post) => (
          <li>
            <a href={`/posts/${post.data.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>

    <h2>Featured Work</h2>
    <ul class="list-disc pl-6 space-y-2">
      <li>
        <a href="https://github.com/devflowinc/trieve" target="_blank">
          Trieve: All-in-one platform for search, recommendations, RAG, and
          analytics offered via API
        </a>
      </li>
      <li>
        <a
          href="https://github.com/patroninc/patron/tree/main/astrobits"
          target="_blank"
        >
          Astrobits: Retro neo-brutalist 8/16-bit component library for Astro
        </a>
      </li>
      <li>
        <a href="https://github.com/patroninc/patron">
          Patron: Open source alternative to Patreon focused on serialized
          content
        </a>
      </li>
    </ul>
  </article>
</SimpleLayout>

<!--  -->
