---
import { Image } from "astro:assets";
import eaglePromptWithStyleReference from "../../../assets/images/blog-posts/HowToUseMidjourney/eagle-promt-with-style-reference-results.png";
---

<div class="flex flex-col items-center text-center">
  <Image
    src={eaglePromptWithStyleReference}
    alt="Eagle prompt with style reference results"
    class="max-h-[300px] w-auto"
  />
  <p class="text-xs">
    Output from combining the description Midjourney had of the eagle with style
    references.
  </p>
</div>
