---
import { Image } from "astro:assets";

export interface ImageAndDescription {
  image: ImageMetadata;
  description: string;
}

const midjourneyImages = Object.values(
  import.meta.glob<{ default: ImageMetadata }>(
    "../../../assets/images/blog-posts/HowToUseMidjourney/styleguide/*.{jpeg,jpg,png,webp,gif,svg,avif}",
    { eager: true }
  )
).map((module) => module.default);
---

<div class="max-h-[400px] overflow-y-auto">
  <div class="masonry-grid">
    {
      midjourneyImages.map((img) => (
        <div class="masonry-item">
          <Image src={img} alt="Midjourney generated image" loading="lazy" />
        </div>
      ))
    }
  </div>
</div>

<style>
  .masonry-grid {
    column-count: 3; /* Adjust column count as needed */
    column-gap: 1em;
    /* overflow-y: auto; */ /* Removed, as parent div handles y-overflow */
    width: 100%; /* Ensure the grid takes the full width of its parent */
    box-sizing: border-box; /* Include padding and border in the element's total width */
  }

  .masonry-item {
    background-color: #eee; /* Optional: for item visibility */
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    break-inside: avoid; /* Prevents items from breaking across columns */
  }

  .masonry-item img {
    width: 100%;
    height: auto;
    display: block;
  }
</style>
