---
import { Image } from "astro:assets";
import pinterestStarterImage from "../../../assets/images/blog-posts/HowToUseMidjourney/pinterest-starter-image.jpg";
---

<div class="flex flex-col items-center text-center">
  <Image
    src={pinterestStarterImage}
    alt="Pinterest starter image"
    class="max-h-[300px] w-auto"
  />
  <p class="text-xs">
    This is the starter image used for the rest of the examples.
    <a href="https://pin.it/7vYoOq7nn" target="_blank" rel="noopener noreferrer"
      >Source.</a
    >
  </p>
</div>
